@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
  position: relative;
  font-family: 'Bebas Neue', cursive;
}
table {
  margin: auto;
  width: 800px;
  height: 600px;
  border-collapse: collapse;
}
 
td, th {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}
 
th {
  font-weight: bold;
  background-color: #E6E6E6;
}

.btn-calendar {
  width: 70px;
  height: 30px;
  margin-top: 15px;
}

/* modal */

.modal {
  width: 100px;
  height: 100px;
}


.btn-time {
  display: flex;
  background-color: #E6E6E6;
  width: 70px;
  height: 30px;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

/* form */

.form {
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.total__price {
  padding-right: 20px;
}

.input__form {
  padding-right: 100px;
  margin-right: 20px;
}