@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
  position: relative;
  font-family: 'Bebas Neue', cursive;
}
table {
  margin: auto;
  width: 800px;
  height: 600px;
  border-collapse: collapse;
}
 
td, th {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}
 
th {
  font-weight: bold;
  background-color: #E6E6E6;
}

.btn-calendar {
  /* position: relative; */
  width: 70px;
  height: 30px;
  margin-top: 15px;
}

/* modal */

.modal {
  position: absolute;
  left: -40%;
  width: 120px;
  height: 100px;
}


.btn-time {
  display: flex;
  background-color: #E6E6E6;
  width: 70px;
  height: 30px;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

/* form */

.book {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  text-align: center;
}

.total__price {
padding: 0 5px;
}

.total__day {
  padding: 0 5px;
}

.btn-book {
  width: 200px;
  height: 50px;
  font-size: 22px;
  margin: auto;
}

.modal__form { 
  justify-content: center;
  text-align: center;
}

.form {
  height: 50px;
  margin-top: 30px;
}

.input__form {
  padding-right: 100px;
  margin-right: 20px;
}



.green {
  background: #00ff15;
}